form {
	font-size: 2rem;
	margin-left: 20px;

	display: flex;
	flex-direction: column;
}

#url,
#dimensions {
	font-family: inherit;

	height: 30px;
	width: 400px;

	border: 0.1px solid gray;
	border-radius: 2px;

	margin: 10px 0;
}

button {
	font-family: inherit;
	font-size: 1.6rem;

	width: 130px;
	height: 40px;

	margin-top: 10px;

	cursor: pointer;
}
