form {
	font-size: 2rem;
	margin-left: 115px;

	display: flex;
	flex-direction: column;
}

#url,
#dimensions {
	font-family: inherit;

	height: 30px;
	width: 400px;

	border: 0.1px solid gray;
	border-radius: 2px;

	margin: 10px 0;
}

label {
	margin-right: 15px;
}
