.main-form-text {
	margin-left: 100px;
	margin-top: 50px;

	font-size: 1.7rem;
}

.main-inner {
	display: flex;
	align-items: center;
}

.main-qr-div {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	left: 300px;
	top: 70px;

	min-width: 400px;
	min-height: 450px;
}

.main-qr-btn {
	width: 300px;

	margin: 30px;
	border: none;

	background-color: #e0144c;

	color: #ffffff;
	font-size: 1.8rem;
}

.main-qr-placeholder {
	position: relative;
	left: 350px;
	width: 300px;
}

p {
	font-size: 1.8rem;
	padding-left: 20px;
	line-height: 40px;
}
